# ----------------------------------------------------------------------
# 1. PYTHON / VIRTUAL ENVIRONMENT EXCLUSIONS
# ----------------------------------------------------------------------
# Your virtual environment folder
fyp_env/
# Python bytecode and cache
__pycache__/
*.pyc

# ----------------------------------------------------------------------
# 1. DATASET FOLDERS TO BE EXCLUDED
# ----------------------------------------------------------------------
preprocessingDataset/cat_vs_not_cat_dataset
preprocessingDataset/others_animal
preprocessingDataset/similar_breed_dataset
preprocessingDataset/images/
preprocessingDataset/annotations/
preprocessingDataset/cropped_images/
preprocessingDataset/output/
preprocessingDataset/output_3breeds/
preprocessingDataset/output_cropped/

# ----------------------------------------------------------------------
# 3. IDE AND MISCELLANEOUS EXCLUSIONS
# ----------------------------------------------------------------------
.vscode/     # VS Code configuration
*.log        # Log files